.git
.gitignore
.DS_Store

example-docker
infra-josefdigital

platform_web/node_modules
platform_web/.npm
platform_web/dist

infra/.terraform
**/terraform.tfstate
**/terraform.tfstate.*
*.tfvars
*.tfvars.json

.env
.env.*
!infra/.env-dev

uploads
tmp
*.test
coverage.out
